
   
@font-face {
    font-family: SpaceMono-Italic;
    src: url(/fonts/SpaceMono-Italic.ttf);
    font-weight:200;
}

@font-face {
    font-family: SpaceMono-Regular;
    src: url(/fonts/SpaceMono-Regular.ttf);
    font-weight:200;
}

@font-face {
    font-family: Claude-display;
    src: url(/fonts/Claude-display.ttf);
    font-weight: 100;
}

@font-face {
    font-family: Oswald-Heavy;
    src: url(/fonts/Oswald-Heavy.ttf);
    font-weight: 100;
}

@font-face {
    font-family: Assistant-regular;
    src: url(/fonts/Assistant-Regular.ttf);
    font-weight: 100;
}


html {
    font-size: 16px;
    background-color: rgb(255, 255, 255);

}
body {
    color: rgb(31, 36, 83);
    font-family: Huma-regular;
    text-align: left;
    margin: 0;
    /* overflow: hidden; */

}

/* Menu */


.menu-container {
    font-size: 1.5rem;
    font-family: Claude-display;
    position: fixed;
    z-index: 200;
    top: 0;
    text-transform: lowercase;
    

}

.menu-container ul a {
    text-decoration: none;
    color:rgb(31, 36, 83);
    cursor: pointer;

}

.menu-container ul a:hover{
    text-decoration: none;
    font-family: Claude-display;
    font-size: 1.5rem;
    color: rgb(0, 0, 255);

}
/* BEIGE : rgb(201, 183, 162) */

.menu-container ul, .menu-container li{
    list-style-type: none;
    margin-left: 0px;
    
}

.main-title {
    font-weight: lighter;
    text-decoration: none;
    font-family: Claude-display;
    z-index: 100;
    font-size: 1.5rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-left: 40px;
}


/* Slideshow projet */

.main-container {
    display: block;
}


.slideshow {
    max-width: 70%;
    margin-right: 20px;
    margin-top: 20px;
    margin-left: 400px;

}

.slideshow img {
    max-width: 100%;
    margin-right: 20px;
    padding-bottom: 30px;

}

.sketches {
    max-width: 60%;
    margin-right: 35px;
    padding-bottom: 10px;
    margin-left: 400px;

}

.sketches img {
    max-width: 100%;
    margin-right: 35px;
    padding-bottom: 10px;

}

.description-container {
    margin-right: 30px;
    padding-left: 40px;
    position: fixed;
    top: 350px;
    z-index: 200;
    max-width: 375px;

}

.description-title {
    
    font-size: 0.9rem;
    font-weight: 100;
    font-family: Claude-display;
    margin: 0;
}

.description-additional {
    font-size: 0.9rem;
    font-weight: 100;
    margin: 0;
    padding-top: 0.4rem;
    font-family: Assistant-Regular;

}

.description-text {
    
    /* margin-top: 90px; */
    margin-right: 150px;
    font-size: 0.9rem;
    font-weight: 100;
    margin-top: 20px;
    font-family: Assistant-Regular;
}

.hidden {
    
    margin-top: 80px;
    font-size: 2rem;
    font-weight: 100;
    visibility: hidden;
}

a {
    text-decoration: none;
    color:rgb(31, 36, 83);

}


/* Pêle-mêle homepage */


.album {
    height: 100vh;
    overflow: hidden;
    position: relative;

}

.random_img {
    position: absolute;
    width: 20%;
    height: auto;
    

}





/* projets dans catégories */



.column {
    float: right;
    width: 30%;
    padding: 40px;
    
  }

  .overlay {
    font-size: 0.7rem;
    font-family: Oswald-Heavy;
    color: #ffffff;
    text-align: center;
    padding: 3px;
    display: none;
    position: absolute;
  }
  


  section:hover .overlay {
      display: block;
      background: rgb(0, 0, 255);
      text-transform: uppercase;
  }





  /* Clearfix (clear floats) */
  .row::after {
    content: "";
    clear: both;
    display: table;
    margin-left: 300px; 
  }


/* curriculum text */


.curriculum-container {
    margin-left: 420px;
    margin-top: 120px;
    position: left;
    font-size: 0.8rem;
    font-family: Assistant-Regular;
}

.curriculum-category {
    margin-top: 2rem;
}

.curriculum-container p {
    margin: 0.3rem 0;
}

.curriculum-title {
    font-size: 0.7rem;
    font-family: Assistant-Regular;
}

.dates {
    font-size: 0.7rem;
    font-family: Assistant-Regular;
    padding-top: 0.6rem;
    padding-bottom: 0rem;
}

.copyright {
    font-size: 0.5rem;
    font-family: Assistant-Regular;
    padding-top: 9rem;
    padding-bottom: 0.1rem;
    color: rgb(172, 172, 172);
    padding-right: 60px;
}




@media (max-device-width: 800px) {
    html, body {
        font-size: 16px;
        margin: 0;
        padding: 0;

    }
    

    /* Menu */
    .menu-container {
        font-size: 2rem;
    }

    .main-title {
        font-size: 4rem;
    }


    img {
        max-width: 100vw;

    }
}




