
/* libre-franklin-500 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Libre Franklin';
    font-style: normal;
    font-weight: 500;
    src: url('/fonts/libre-franklin-v18-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

/* libre-franklin-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Libre Franklin';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/libre-franklin-v18-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  

body {

    @font-face {
        font-family: 'Fraunces9ptSuperSoft-ThinItalic';
      }

      @font-face {
        font-family: 'Optima';
      }


    color: rgb(171, 171, 171);
    text-align: left;
    margin: 0;
    background-color: rgb(0, 0, 0);
    /* overflow: hidden; */

}

/* Menu */




.menu-container {
    font-size: 0.9rem;
    font-family: 'Libre Franklin';
    font-style: normal;
    font-weight: 400;

    position: fixed;
    z-index: 200;
    top: 0;
    text-transform: lowercase;
    

}

.main-title {  
    font-family: 'Libre Franklin';
    font-style: normal;
    font-weight: 400; 
    font-size: 0.9rem;
    margin-top: 25px;
    margin-left: 40px;
}

.main-title ul a:hover{
    
    font-family: 'Libre Franklin';
    font-style: normal;
    font-weight: 400;
    font-size: 0.9rem;
    color: #9688ff;

}

.menu-container ul a {
    text-decoration: none;
    color:rgb(171, 171, 171);
    cursor: pointer;

}

.menu-container ul a:hover{
    text-decoration: none;
    font-family: 'Libre Franklin';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    color: #9688ff;
    text-shadow: 0 0 4px rgb(139, 126, 255);

}

.menu-container ul, .menu-container li{
    list-style-type: none;
    margin-left: 0px;
    
}


/* Slideshow projet */

.main-container {
    display: block;
}


.slideshow {
    max-width: 70%;
    margin-right: 20px;
    margin-top: 20px;
    margin-left: 400px;

}

.slideshow img, .slideshow video {
    max-width: 100%;
    margin-right: 20px;
    padding-top: 45px; /* Added this for images */
    padding-bottom: 100px;
}



        /* General Slideshow Styling */
        .slideshow {
            position: relative;  /* Relative to position elements inside */
            max-width: 100vw;
            height: auto;
        }

        .slideshow img, .slideshow video {
            max-width: 100%;
            display: block;
            cursor: pointer;      /* Show clickable hand cursor */
        }

        /* Left and Right Clickable Areas */
        .slideshow-left, .slideshow-right {
            position: absolute;
            top: 0;
            width: 50%;
            height: 100%;
        }

        .slideshow-left {
            left: 0;
        }

        .slideshow-right {
            right: 0;
        }



   /* Counter Styling */
   
   .project-counter {
    position: fixed;
    padding: 20px;
    color: white;
    font-family: 'Libre Franklin';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    pointer-events: none; /* Prevent mouse interaction with the counter */
    display: none; /* Hidden by default, only shows when cursor is over a clickable area */
}

        .slideshow:hover .project-counter {
            display: block;          /* Show counter on hover */
        }
.description-container {
    margin-right: 30px;
    padding-left: 40px;
    position: fixed;
    top: 230px;
    z-index: 200;
    max-width: 375px;

}

.description-title {
    
    font-family: 'Fraunces9ptSuperSoft-ThinItalic';
    font-style: normal;
    font-weight: 400;
    font-size: 1.3rem;
    margin: 0;
    letter-spacing: -0.5px;

}

.description-additional {
    font-size: 0.8rem;
    margin: 0;
    padding-top: 0.4rem;
    font-family: 'Fraunces9ptSuperSoft-ThinItalic';
    font-style: normal;
    font-weight: 400;
    letter-spacing: -0.5px;


}

.description-text {
    
    /* margin-top: 90px; */
    margin-right: 150px;
    font-size: 0.9rem;
    margin-top: 20px;
    font-family: 'Libre Franklin';
    font-style: normal;
    font-weight: 400;

}

.hidden {
    
    margin-top: 80px;
    font-size: 1rem;
    font-weight: 100;
    visibility: hidden;
}

a {
    text-decoration: none;
    color:rgb(171, 171, 171)

}


/* Pêle-mêle homepage */


.album {
    height: 100vh;
    overflow: hidden;
    position: relative;

}

.random_img {
    position: absolute;
    width: 20%;
    height: auto;
    

}





/* projets dans catégories */



.column {
    float: right;
    width: 30%;
    padding: 40px;
    
  }

  



  /* Clearfix (clear floats) */
  .row::after {
    content: "";
    clear: both;
    display: table;
    margin-left: 300px; 
  }


/* curriculum text */


.curriculum-container {
    margin-left: 420px;
    padding-right: 200px;
    margin-top: 60px;
    position: left;
    font-size: 1rem;
    font-family: 'Libre Franklin';
    font-style: normal;
    font-weight: 400;

    
}



.curriculum-category {
    margin-top: 2rem;
}

.curriculum-container p {
    margin: 0.3rem 0;
}

.curriculum-title {
    font-size: 0.8rem;
    font-family: 'Fraunces9ptSuperSoft-ThinItalic';
    font-weight: 500;
}




.copyright {
    font-size: 0.7rem;
    font-family: 'Libre Franklin';
    font-style: normal;
    font-weight: 500;
    position: absolute; 
    color: rgb(0, 0, 0);
    bottom: 20px; /* Set 20px from the bottom */
    margin-left: 0; /* Reset left margin */
    margin-right: 0; /* Reset right margin */
    padding-left: 20px; /* Add padding to align with the left margin of curriculum */
    margin: 0;
}


@media (max-device-width: 800px) {
    html, body {
        font-size: 16px;
        margin: 0;
        padding: 0;

    }
    

    /* Menu */
    .menu-container {
        font-size: 0.7rem;
    }

    .main-title {
        font-size: 0.7rem;
    }


    img {
        max-width: 100vw;

    }
}




