/* libre-franklin-500 - latin */
@font-face {
    font-display: swap; 
    font-family: 'Libre Franklin';
    font-style: normal;
    font-weight: 500;
    src: url('/fonts/libre-franklin-v18-latin-500.woff2') format('woff2'); 
  }
  

/* libre-franklin-regular - latin */
@font-face {
    font-display: swap; 
    font-family: 'Libre Franklin';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/libre-franklin-v18-latin-regular.woff2') format('woff2'); 
  }
  
/* libre-franklin-900 - latin */
@font-face {
    font-display: swap; 
    font-family: 'Libre Franklin';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/libre-franklin-v18-latin-900.woff2') format('woff2');
  }

  /* libre-franklin-900 - latin */
@font-face {
    font-display: swap; 
    font-family: 'Fraunces9ptSuperSoft-LightItalic';
    src: url('../fonts/Fraunces9ptSuperSoft-LightItalic.woff2') format('woff2'); 
  }


body {
    color: rgb(171, 171, 171);
    text-align: left;
    margin: 0;
    background-color: rgb(14, 22, 29);
}


/* RANDOM HOMEPAGE */


.album {
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.random_img {
    position: relative;
    width: 20%;
    height: auto;
    transition: filter 0.3s ease-in-out, transform 0.3s ease-in-out;
}


.blurred {
    filter: blur(30px);
}

/* MENU GAUCHE */


.menu-container {
    position: fixed;
    left: 0px;
    padding-top: 30px;
    height: 100vh;
    box-sizing: border-box;
    font-size: 0.9rem;
    font-family: 'Libre Franklin';
    font-style: normal;
    font-weight: 400;
    text-transform: lowercase;
    z-index: 2;
}



.menu-container ul a {
    text-decoration: none;
    color:rgb(171, 171, 171);
    cursor: pointer;
}

.menu-container ul a:hover{
    text-decoration: none;
    font-family: 'Libre Franklin';
    font-style: normal;
    font-weight: 400;
    font-size: 0.9rem;
    color: #9688ff;
    text-shadow: 0 0 4px rgb(139, 126, 255);
}

.menu-container ul, .menu-container li{
    list-style-type: none;
}


/* GRILLE DE PROJETS */
.image-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns on large screens */
    position: absolute;
    top: 40px; /* Always 25px from the top */
    right: 40px; /* Always 25px from the right */
    width: 70%; /* Adjust this value as needed */
    gap: 4px;
    overflow: hidden; /* Ensures no scrollbars appear */
}

/* Ensure images take full grid width */
.image-container {
    position: relative; /* Needed for absolute positioning of hover text */
    width: 100%;
    overflow: hidden;
    gap: 0px; /* ✅ Added 5px padding around each image */
}

/* Ensure images take full grid width */
.image-container img {
    border-radius: 5px;
    width: 100%;
    height: auto;
    display: block; /* Prevents any extra space under images */
}


/* Remove extra spacing from section tags */
.image-grid section {
    margin: 0;
    padding: 0;
}
  
  .image-container:hover img {
    filter: brightness(5%); /* Darkens the image */
  }
  
  .image-container .hover-text {
    position: absolute;
    top: 50%;
    left: 50%;
    text-decoration: none;
    font-family: 'Libre Franklin';
    font-style: normal;
    font-weight: 0.4;
    font-size: 0.9rem;
    color: #d3d3d3;
    filter: blur(0px);
    transform: translate(-50%, -50%);
    opacity: 0;
    padding: 5px;
    text-align: center;
    transition: opacity 0.2s ease-in-out;
    pointer-events: none; /* Prevents interaction issues */
    width: 80%; /* Ensures text does not overflow */
    transition: opacity 0.2s ease; /* Smooth fade-in for text */
  }
  
  .image-container:hover .hover-text {
    opacity: 1;
  }



/* Ensure the album container doesn't interfere with fullscreen view */
.album {
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.random_img {
    position: absolute;
    width: 20%;
    height: auto;
    transition: filter 0.3s ease-in-out, transform 0.3s ease-in-out;
    cursor: pointer;
}

/* SLIDESHOW IMAGES DANS PROJET */

.slideshow {
    column-gap: 4px;
    max-width: 100%;
    z-index: 50;
    position: absolute;
    top: 40px;
    right: 40px;
}


.slideshow img, .slideshow video {
    width: 100%; /* Full column width */
    display: block;
    border-radius: 5px;
    object-fit: contain;
    object-position: center;
    margin-bottom: 4px; /* Prevents items from sticking together */
}


/* Left and Right Clickable Areas */
.slideshow-left, .slideshow-right {
    position: absolute;
    width: 60%;
    height: 100%;
    cursor: pointer;  /* Show clickable hand cursor */
}

.slideshow-left {
    left: 0;
}

.slideshow-right {
    right: 0;
 }

 #fullsize-slideshow .slideshow {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lightbox {
    display: none; /* Hidden by default */
    position: fixed;
    filter: none;
    pointer-events: auto;
    z-index: 500;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
}


.lightbox-content {
    max-width: 90%;
    max-height: 90%;
    border-radius: 8px;
}

#lightbox-img, #lightbox-video {
    display: none; /* Hide both by default */
}
   
.description-container {
    position: fixed;
    top: 200px;
    left: 40px;
    max-width: 375px;
    width: 100%;
    z-index: 2;
}

.description-title {
    position: relative;
    font-family: 'Fraunces9ptSuperSoft-ThinItalic';
    font-style: normal;
    font-weight: 400;
    font-size: 1.3rem;
    letter-spacing: -0.5px;
}

.description-title::before, .description-title::after {
    content: '';
    position: absolute;
    left: 0;
    width: 80%; /* Matches the width of the title */
    height: 0.25px; /* Thin line */
    background-color: rgb(171, 171, 171); /* Line color */
  }

  .description-title::before {
    top: -7px; /* Line above the title */
  }
  
  .description-title::after {
    bottom: -10px; /* Line below the title */
  }

.description-year {
    position: relative;
    font-size: 0.8rem;
    margin-top: 20px;
    font-family: 'Libre Franklin';
    font-style: normal;
    font-weight: 400;
    letter-spacing: -0.5px;
}

.description-year::after {
    content: '';
    position: absolute;
    left: 0;
    width: 80%; /* Matches the width of the title */
    height: 0.25px; /* Thin line */
    background-color: rgb(171, 171, 171); /* Line color */
    bottom: -10px; /* Line below the title */
  }

  .description-text {
    
    margin-right: 120px;
    font-size: 0.9rem;
    margin-top: 20px;
    font-family: 'Libre Franklin';
    font-style: normal;
    font-weight: 400;
}

.hidden {
    margin-top: 50px;
    font-size: 1rem;
    font-weight: 100;
    visibility: hidden;
}

a {
    text-decoration: none;
    color:rgb(171, 171, 171)
}

  .hover-area {
    width: 1500px; /* Adjust size as needed */
    height: 1500px;
    position: absolute;
    top: 2;  /* Adjust positioning if necessary */
    z-index: 10; /* Keeps it on top */
}


.description-additional {
    position: relative;
    font-size: 0.9rem;
    margin-top: 24px;
    font-family: 'Fraunces9ptSuperSoft-ThinItalic';
    font-style: normal;
    font-weight: 400;
    letter-spacing: -0.5px;
    opacity: 0;  /* Fully transparent */
    visibility: hidden; /* Prevents interaction when hidden */
    transition: opacity 0.5s ease, visibility 0.8s ease;

    pointer-events: none;

}

.hover-area:hover + .description-additional {
    opacity: 1;
    visibility: visible;
}


.description-additional a {
    pointer-events: auto;
}


.description-additional::before {
    top: -10px; /* Line above the title */
    content: '';
    position: absolute;
    left: 0;
    width: 80%; /* Matches the width of the title */
    height: 0.25px; /* Thin line */
    background-color: rgb(171, 171, 171); /* Line color */
  }


  .project-counter {
    position: fixed;
    padding: 20px;
    color: rgb(171, 171, 171);
    text-shadow: 0 0 3px rgb(255, 255, 255);
    font-family: 'Libre Franklin';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    pointer-events: none; /* Prevent mouse interaction with the counter */
    display: none; /* Hidden by default, only shows when cursor is over a clickable area */
}

    .slideshow:hover .project-counter {
    display: block;          /* Show counter on hover */
}



/* ABOUT SECTION */


.curriculum-container {
    margin-left: 340px;
    padding-right: 40px;
    box-sizing: border-box;
    width: 30%;
    position: left;
    font-size: 0.9rem;
    font-family: 'Libre Franklin';
    font-style: normal;
    font-weight: 400;
}

.curriculum-category {
    margin-top: 2rem;
}

.curriculum-container p {
    margin: 0.3rem 0;
}

.curriculum-title {
    font-size: 0.8rem;
    font-family: 'Fraunces9ptSuperSoft-ThinItalic';
    font-weight: 500;
}

.copyright {
    font-size: 0.7rem;
    font-family: 'Libre Franklin';
    font-style: normal;
    font-weight: 400;
    position: absolute; 
    color: rgb(0, 0, 0);
    bottom: 20px; /* Set 20px from the bottom */
    margin-left: 0; /* Reset left margin */
    margin-right: 0; /* Reset right margin */
    padding-left: 20px; /* Add padding to align with the left margin of curriculum */
    margin: 0;
}

/* RESPONSIVE */


/* Media Query for screens narrower than 1024px */
@media (max-width: 1200px) {

    .description-container {
        position: fixed; /* Keep it fixed on the left */
        max-width: 40%; /* Allow description to take full width */
        top: 200px; /* Ensure it stays at the same vertical position */
        z-index: 200; /* Keep it on top */
    }


    .image-grid {
        grid-template-columns: repeat(2, 1fr); /* 3 columns on large screens */
    }

    .menu-container {
        position: fixed; /* Keep menu fixed on the left */
        top: 0;
        left: 0px; /* Consistent left margin */
        z-index: 100;
    }

    .slideshow {
        max-width: 55%; /* Slideshow takes full width */
        grid-template-columns: 1fr; /* Stack images vertically */
        padding-top: 0; /* Prevent extra space at top */
        
    }
}

/* Media Query for mobile screens (below 768px) */
@media (max-width: 750px) {
    .description-container {
        font-size: 0.8rem; /* Fixed width */
        max-width: 80%; /* Allow description to take full width */
    }

    .image-grid {
        grid-template-columns: repeat(1, 1fr); /* 3 columns on large screens */
        top: 40px; /* Always 25px from the top */
        right: 40px; /* Always 25px from the right */
        width: 70%; /* Adjust this value as needed */
    }

    .slideshow {
        grid-template-columns: 1fr; /* Stack images vertically */
        margin-top: 500px; /* Add more space above the slideshow */
        position: relative;
        left: 40px;
        max-width: 89%; /* Slideshow takes full width */
    }

    .curriculum-container {
        margin-bottom: -700px;
        margin-left: 40px;
        width: 80%;
        font-size: 0.9rem;
        font-family: 'Libre Franklin';
        font-style: normal;
        font-weight: 400;
    }

    .copyright {
        margin-bottom: 10px;
        margin-left: -20px;
    }
}

/* Media Query for larger screens (min-width: 1024px) */
@media (min-width: 1200px) {


    .description-container {
        position: fixed; /* Keep description fixed */
        max-width: 375px; /* Fixed width */
        margin-right: 30px; /* Space between description and slideshow */
    }

    .menu-container {
        position: fixed; /* Keep menu fixed */
        top: 0;
        z-index: 100;
    }

    .slideshow {
        max-width: 70%; /* Slideshow takes 50% of the width */
        right: 40px;
        column-count: 2;

            }
}

